// Variables

$brand-primary:         #0ab0d1 !default;
$brand-success:         #23de90 !default; //#5cb85c !default;
$brand-info:            #5bc0de !default;
$brand-warning:         #F6CD4E !default;
$brand-danger:          #f69679 !default;
$fda-header-gray:		 #424242 !default;

$fda-system-font:		  "Open Sans", Helvetica, Arial, sans-serif !default;


// Layout

// switch out main navbar bg color
.navbar{
	&.fda-doc-nav{
		background-color: $fda-header-gray;
	}
}

// switch out side bar active links
.nav{
	> li.active{
		> a{
			background-color: $brand-primary;
		}
	}
}