// Variables ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ //

$brand-primary:         #0ab0d1 !default;
$brand-success:         #23de90 !default; //#5cb85c !default;
$brand-info:            #5bc0de !default;
$brand-warning:         #F6CD4E !default;
$brand-danger:          #f69679 !default;
$fda-header-gray:		 #424242 !default;

$fda-system-font:		  "Open Sans", Helvetica, Arial, sans-serif !default;


// Layout ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ //

// switch out main navbar bg color
.navbar{
	&.fda-doc-nav{
		background-color: $fda-header-gray;
		border: 0;
	}
}

// switch out side bar active links
.nav{
	> li.active{
		> a{
			background-color: $brand-primary !important;
		}
	}
	> li > a{
		&:hover, &:focus{
			background-color: $brand-primary !important;
		}
	}
}

// fda-logo
.fda-logo{
	background: url(../images/fda_logo.png) no-repeat center left;
	width: 200px;
	height: 50px;
	background-size: 150px;
}

// sidebar nav
#mysidebar{ // <-- using id because classes get over written on load
	> h3{
		font-size: 180%;
		margin: 0;
	}
}

.sidebar-version{
	padding: 0 !important;
	color: #888888 !important;
	font-family: "Helvetica", sans-serif !important;
}

#search-input{
	::-webkit-input-placeholder {
	   color: rgba(0,0,0,0.7);
	}

	:-moz-placeholder { /* Firefox 18- */
	   color: rgba(0,0,0,0.7);  
	}

	::-moz-placeholder {  /* Firefox 19+ */
	   color: rgba(0,0,0,0.7);  
	}

	:-ms-input-placeholder {  
	   color: rgba(0,0,0,0.7);  
	}
}

p > img{
	border: solid 6px rgba(0,0,0,0.04);
}

// dropdown in header 
.dropdown{
	&.open{
		> a{
			background: transparent !important;
		}
	}
}

.post-content{
	img{
		margin-bottom: 6em !important;
	}
}